article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

#secondContainer {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
  
}


@media (min-width: 768px) { 
	article {
		display: flex;
		flex-direction: row;
	
	}
	#webFirstContainer{
	display: flex;
    align-self: start;
}

#secondContainer {
    display: flex;
    position: absolute;
    margin-top: 76px;
    margin-left: 102px;
}
}

